

body {
	color: black;
	margin: 10px;
	border: 0px;
	padding: 0px;
	font-family: Arial Unicode MS, Arial, sans-serif;
}

h1 {
  font-size: 1.8em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.head-wrapper {
	height: 250px;
	padding-top: 20px;
}

.main-wrapper {
	width: 80%
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

.liens a, a:visited {
	cursor: pointer;
	color: #0066cc;
	text-decoration: none;
}

.liens a {
	margin-left: 20px;
	
}

.liens img {
	padding-top: 0.8em;
}

.liens p {
	margin-bottom: 0.1em;
	margin-top: 0.5em;
	font-size: 20px;
}

.erreur {
	color: #cd0a0a;
}

label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
textarea { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

#dialog-message img {
	float:left;
	margin:0 7px 30px 0;
}

#accordion h2 {
	
}

#dialog-message span {
	float:left;
	margin:0 7px 45px 0;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.ui-dialog p, label, span, input, textarea {
	font-size : 0.9em;
}

#name {
	font-size : 0.9em;
}

#checkTokenAnimError {
	background-image: url("error.png");
	background-repeat: no-repeat;
	background-size: 22px 22px;
	padding-left: 30px;
}

#checkTokenAnimTime {
	background-image: url("error.png");
	background-repeat: no-repeat;
	background-size: 22px 22px;
	padding-left: 30px;
}

#checkTokenAnimOK {
	background-image: url("ok.png");
	background-repeat: no-repeat;
	background-size: 22px 22px;
	padding-left: 30px;
}